<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeless.Core" version="1.0.369.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="5.0.505.0" targetFramework="net45" />
  <package id="IQToolkit" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.0" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net45" />
</packages>